<launch>
	<group ns="K3_5">
		
		<param name="khepera3/ip_addr" value="192.168.1.205" type="str" />
		<param name="motion_capture_system" value="optitrack" type="str" />
		
		<param name="lion/gazelle_id" value="4" type="int" />
		<param name="lion/max_speed" value="0.15" type="double" />
		<param name="lion/id" value="5" type="int" />
		
		<param name="angular_gain" value="0.5" type="double" />
		<param name="linear_gain" value="1.0" type="double" />
		<param name="delta" value="0.2" type="double" />

		<node name="driver" pkg="khepera3_driver" type="driver" />
		<node name="lion" pkg="khepera3_controller" type="lion" output="screen" />
		
	</group>
  <group ns="K3_4">
    
    <param name="khepera3/ip_addr" value="192.168.1.204" type="str" />
    <param name="khepera3/platform_id" value="4" type="int" />
    <param name="motion_capture_system" value="optitrack" type="str" />
    
    <param name="parameter_a" value="0.0" type="double" />
    <param name="parameter_b" value="40.0" type="double" />
    <param name="parameter_c" value="0.5" type="double" />
    
    <param name="gazelle/max_speed" value="0.2" type="double" />
    
    <param name="angular_gain" value="0.5" type="double" />
    <param name="linear_gain" value="1.0" type="double" />
    <param name="delta" value="0.25" type="double" />

    <node name="driver" pkg="khepera3_driver" type="driver" />
    <node name="gazelle" pkg="khepera3_controller" type="gazelle" output="screen"/>
  </group>
  <!--<node name="client" pkg="vicon_driver" type="client" />-->
</launch>
